<div class="home-class">
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile  [colspan]="1" [rowspan]="5">
    <mat-card>
      <img mat-card-image [src]='selectedMovie.poster'>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile  [colspan]="1" [rowspan]="5">
    <mat-card>
      <mat-card-header>
          <mat-card-title>{{selectedMovie.title}}</mat-card-title>
          <mat-card-subtitle>{{selectedMovie.originalLanguage}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="text-class"><strong>Original Title:</strong> {{selectedMovie.originalTitle}}</div>
        <div class="text-class"><strong>Release Date:</strong> {{selectedMovie.releaseDate}}</div>
        <div class="text-class storyline-class"><strong>Storyline:</strong> {{selectedMovie.overview}}</div>
        </mat-card-content>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile  [colspan]="1" [rowspan]="1">
    <app-ratings></app-ratings>
  </mat-grid-tile>
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
</div>