.home-class {
  margin: 0 auto;
  width: 1200px;
}

.mat-card {
    height: 450px;
}

.text-class {
  padding: 5px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.storyline-class {
  text-indent: 0%;
  text-align: justify
}

.review_class {
  width: 1200px;
  margin: 0 auto;
}